@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background-image: url("/images/darkSky.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: white;
    align-items: center;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

.login-container {
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: small;
    color: rgb(189, 186, 186);
}

.login-container button{
    width: 100px;
    height: 25px;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 10px;
    background-color:#02545d
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    max-height: 150px;
    padding: 20px;
}



.navbar a{
    padding-left:10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(189, 186, 186);
}

.navbar li{
    list-style-type: none;
}

.container {
    padding-left: 20px;
}

.header h1, h2, h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 186, 186);
}

.header a{
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(189, 186, 186);
}

.most_famous_killers {
    display: flex;
    justify-content: space-around;
}

.card1 {
    width: 30%;
    height: 400px;
    border: 2px rgb(206, 175, 175) solid;
    border-radius: 15px;
    margin: 10px;
}

.card2 {
    width: 30%;
    height: 400px;
    border: 2px rgb(206, 175, 175) solid;
    border-radius: 15px;
    margin: 10px;
}

.card3 {
    width: 30%;
    height: 400px;
    border: 2px rgb(206, 175, 175) solid;
    border-radius: 15px;
    margin: 10px;
}